body {
    margin: 0;
    padding: 0;

    display: flex;
    justify-content: center;
}

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.settings {
    gap: 10px;
}
.options {
    gap: 45px;
}